replicaCount: 3

image:
  repository: heart-api        # e.g. your-docker-username/heart-api
  tag: "v1"                    # or use Git SHA
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: LoadBalancer           # or NodePort / ClusterIP
  port: 80
  targetPort: 8000

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

livenessProbe:
  path: /health
  initialDelaySeconds: 40
  periodSeconds: 10

nodeSelector: {}
tolerations: []
affinity: {}
